# {{ ansible_managed }}

[program:laravel-worker]
process_name=%(program_name)s_%(process_num)02d
command=php /srv/www/example.com/current/artisan queue:work --queue=priority,default --tries=2
autostart=true
autorestart=true
user={{ web_user }}
numprocs=2
redirect_stderr=true
stdout_logfile=/srv/www/example.com/logs/worker.log